{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "off",
    "@typescript-eslint/no-require-imports": "error",
    "prettier/prettier": [
      "warn", {
        "endOfLine": "auto",
        "singleQuote": true,
        "printWidth": 140,
        "editor.formatOnSave": true,
        "proseWrap": "always",
        "tabWidth": 4,
        "requireConfig": false,
        "useTabs": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "bracketSameLine": true,
        "semi": true
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}